* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgb(119, 49, 177);
  border: 2px solid rgb(16, 221, 50);

}

#card {
  width: 300px;
}

#image {
  display: block;
  border: 2px solid rgb(2, 255, 242);
  border-radius: 50%;
  margin: 20px auto;
  
}

#names {
  font-size: 25px;
  border: 2px solid rgb(24, 230, 5);
  border-radius: 10px;
  padding: 4px;
}

h2, h4, h6 {
  display: flex;
  justify-content: center;
  color: rgb(5, 5, 5);
}

#email, #city, #company,
#skill, #averages {
  font-size: 16px;
  border: 2px solid rgb(24, 230, 5);
  border-radius: 10px;
  padding: 4px;
}

#test {
  border: 2px solid rgb(24, 230, 5);
  margin: 10px;
  border-radius: 10px;
}

#input {
  margin: auto;
  width: 100px;
}

#button{
  margin-left: 202px;
  margin-top: -73px;
}

#IconShowDown, #IconShowUp {
  margin-left: 280px;
  color: black;
  cursor: pointer;
}


