* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media (min-width: 900px) {
  .App-header {
    margin: auto;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    
  }
}


@media (min-width: 1000px) {
  .App-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (min-width: 1200px) {
  .App-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}






