


@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
  
}

@media screen and (min-width: 425px) {
  .body {
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: repeat(1, 1fr);
  }

  .containerSeachs, .search  {
    margin: 20px 0px 0 95px;
    margin-right: auto;
    width: 300px;
  }
 
}

@media screen and (min-width: 768px) {
  .body {
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: repeat(2, 1fr);
  }

  .containerSeachs, .search  {
    margin: 20px 0px 0 280px;
    margin-right: auto;
    width: 400px;
  }
  
}

@media screen and (min-width: 1024px) {
  .body {
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    background-color: black ;
  }

  .containerSeachs, .search  {
    margin: 20px 0px 0 400px;
    margin-right: auto;
    width: 400px;
  }
  
  
}


.names {
  color: white;
}


@media screen and (min-width: 1440px) {
  .body {
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: repeat(5, 1fr);
  }
  
}

@media screen and (min-width: 2560px) {
  .body {
    display: grid;
    margin: auto;
    color: white;
    grid-template-columns: repeat(5, 1fr);
  }
}

.contenedorCard {
  background: #1D2226;
  margin: 0px auto;
  display: auto;  
  width: 280px;
  min-height:  320px;
  max-height: auto;
  border-radius: 5px;
  color: white;
}

.contenedorCard:hover {
  background: #1D2240;
  margin: 0px auto;
  display: auto;  
  width: 280px;
  min-height:  320px;
  max-height:  auto;
  border-radius: 5px;
  color: white;
}


.DivImage {
  margin-bottom: 0px;
  margin: auto;
}

 .image {
  border-radius: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items:  center;
  border: 1px solid purple;
  background-color: aqua;
 }

 .lupa {
  margin-left: 240px;
  margin-top: -90px;
 }

 
 .names, .email, .city, .company, .skill, .averages {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items:  center;
  color: white;
 }

 .add {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items:  center;
 }


 .inputAdd  {
  width: 60px;
  border: none;
  color: black;
 }

 .button {
  color: white;
  border: none;
  width: 20px;
  background-color: purple;
 }

 .test  {
  margin: 0px auto;
  display: grid;
  width: 300px;
  justify-content: center;
  align-items:  center;
  margin-bottom: -5px;
  color: white;
   
 }

 .test h6 {
  font-size: 14px; 
 }

 .test:hover {
  margin: 0px auto;
  display: grid;
  width: 300px;
  justify-content: center;
  align-items:  center;
  margin-bottom: -5px;
  color: white; 
 }

 .names {
  color: white;
  font-size: 20px; 
 }

 .names, .email, .city, .company, .skill, .averages {
  color: white;
  font-size: 14px;
}

.body1 {
  margin: 50px auto;
  display: grid;
  width: 300px;
  justify-content: center;
  align-items:  center;
}


.tag {
  margin: auto ;
  width: 80px;
  gap: 10px ;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}

.t {
  width: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}